:host
{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 10px;

    background-color: var(--color-container-background);
    border-bottom: var(--border-subtle);
}

.right-align
{
    display: flex;
    align-items: center;
}