:host
{
    min-height: 13rem;
    background-color: var(--color-container-background);
    padding: 20px;

    border: var(--border-subtle);
    border-radius: 10px;
}

.flexDisplay
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}

.final-result
{
    margin: 0;
    font-size: 5rem;
}