:host{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 20px;

    width: 6rem;
    height: 8rem;
    background-color: black;
    color: white;
    border: 3px black solid;
    border-radius: 10px;
    
    p{
        user-select: none;
        font-size: 3rem;
    }
}

.noVote{
    background-color: var(--color-container-background);
    color: black;
    border: 3px black dashed
}

.hideVote {
    z-index: 0;
    background:
        repeating-linear-gradient(
            45deg,
            transparent 0,
            transparent 15px,
            black 15px,
            black 18px
        ),
        repeating-linear-gradient(
            -45deg,
            transparent 0,
            transparent 15px,
            black 15px,
            black 18px
        ),
        rgb(70, 70, 70);
}

.name{
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-label{
    display: block;
    margin-top: 5px;
    font-weight: bold;
}