.main-page{
    gap: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.users{
    width: fit-content;
    max-width: 100%;

    margin-top: 15px;
    display: flex;
    gap: 30px;

    overflow-x: auto;
}

.results-container{
    width: 100%;
    max-width: 33rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reset-round{
    background-color: crimson;
}

.loading{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}